include /_mixins

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//brick.a.ssl.fastly.net/Lato:400")
    +stylesheet_link_tag('application')
  body
    main
      block content
