doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//brick.a.ssl.fastly.net/Lato:400")
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    main
      block content
